absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==2.0.0
alembic==1.4.1
altair==4.1.0
aniso8601==9.0.1
anyio==3.4.0
argcomplete==1.12.3
argon2-cffi==21.1.0
asgiref==3.4.1
astor==0.8.1
async-timeout==3.0.1
attrs==21.2.0
azure-core==1.20.1
azure-storage-blob==12.9.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.10.0
bleach==4.1.0
blessings==1.7
blinker==1.4
boto3==1.20.18
botocore==1.23.18
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
ci-info==0.2.0
click==7.1.2
cloudpickle==2.0.0
colorama==0.4.4
configobj==5.0.6
configparser==5.0.2
coverage==6.2
cryptography==36.0.0
databricks-cli==0.16.2
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
distlib==0.3.3
docker==5.0.3
docker-pycreds==0.4.0
dotmap==1.3.25
elastic-apm==6.7.1
elasticsearch==7.10.0
entrypoints==0.3
etelemetry==0.2.2
faiss-cpu==1.7.1.post3
farm==0.8.0
farm-haystack==0.10.0
fastapi==0.70.0
filelock==3.4.0
fitz==0.0.1.dev2
Flask==1.1.4
Flask-Cors==3.0.10
flask-restplus==0.13.0
future==0.18.2
gitdb==4.0.7
GitPython==3.1.24
google-api-core==2.2.2
google-auth==2.3.3
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
gpustat==0.6.0
greenlet==1.1.2
grpcio==1.42.0
grpcio-tools==1.42.0
gunicorn==20.1.0
h11==0.12.0
httplib2==0.20.2
httptools==0.3.0
huggingface-hub==0.0.8
idna==2.10
importlib-metadata==4.8.2
importlib-resources==5.4.0
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
langdetect==1.0.9
lxml==4.6.4
Mako==1.1.6
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mistune==0.8.4
mlflow==1.13.1
mmh3==3.0.0
more-itertools==8.12.0
msgpack==1.0.3
msrest==0.6.21
multidict==5.1.0
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nibabel==3.2.1
nipype==1.7.0
nltk==3.6.5
notebook==6.4.6
numpy==1.21.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.8.0
opencensus-context==0.1.2
packaging==20.9
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pathtools==0.1.2
pdf2image==1.14.0
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.4.0
pluggy==1.0.0
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.6
promise==2.3
prompt-toolkit==3.0.23
protobuf==3.19.1
prov==2.0.0
psutil==5.8.0
py==1.11.0
py-spy==0.3.11
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
pydeck==0.7.1
pydot==1.4.2
Pygments==2.10.0
pymilvus==1.1.0
Pympler==0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.18.0
pytesseract==0.3.7
python-dateutil==2.8.1
python-docx==0.8.11
python-dotenv==0.19.2
python-editor==1.0.4
python-multipart==0.0.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==227
pywinpty==1.1.6
pyxnat==1.4
PyYAML==5.3.1
pyzmq==22.3.0
querystring-parser==1.2.4
ray==1.5.0
rdflib==6.0.2
redis==4.0.2
regex==2021.11.10
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s3transfer==0.5.0
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.3
Send2Trash==1.8.0
sentence-transformers==2.1.0
sentencepiece==0.1.96
seqeval==1.2.2
shortuuid==1.0.1
simplejson==3.17.6
six==1.16.0
sklearn==0.0
smmap==4.0.0
sniffio==1.2.0
soupsieve==2.3.1
SPARQLWrapper==1.8.5
SQLAlchemy==1.4.27
SQLAlchemy-Utils==0.37.9
sqlparse==0.4.2
starlette==0.16.0
streamlit==1.2.0
subprocess32==3.5.4
tabulate==0.8.9
tensorboard-plugin-wit==1.8.0
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tika==1.24
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.2
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tornado==6.1
tox==3.24.4
tqdm==4.62.3
traitlets==5.1.1
traits==6.3.2
transformers==4.6.1
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
ujson==4.3.0
urllib3==1.26.7
uvicorn==0.15.0
validators==0.18.2
virtualenv==20.10.0
waitress==2.0.0
watchdog==2.1.6
wcwidth==0.2.5
weaviate-client==2.5.0
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==0.16.1
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.13.3
yarl==1.6.3
zipp==3.4.1
